.snsWrapper {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-top: -1rem;
  padding: 12px 12px 10px;
  box-sizing: border-box;
}
.snsWrapper > li {
  width: 33%;
  text-align: center;
}
.snsWrapper > li > a {
  font-size: 0;
  display: block;
  margin: 6px 0;
  width: 100% !important;
  height: 100% !important;
  text-decoration: none;
  cursor: pointer;
}
.snsWrapper > li > a::before {
  content: "";
  width: 60px;
  height: 60px;
  display: inline-block;
  background: url('/sns.png') no-repeat;
  background-size: 300px auto;
}
.snsWrapper > li > a > span {
  display: block;
  font-size: 16px;
  color: #000;
  letter-spacing: -1px;
  white-space: nowrap;
  margin-top: 6px;
  text-align: center;
}
.x::before { background-position: -60px 0!important;}
.facebook::before { background-position: -120px 0!important;}

.div {
  cursor: pointer;
}

.btn {
  float: right !important;
  min-width: 51px !important;
  margin-left: -3px !important;
  padding: 0 4px !important;
  color: #767678 !important;
  font-size: 13px !important;
  height: 42px !important;
  line-height: 42px !important;
  border: 1px solid #e6e6ea !important;
  border-radius: 0 9px 9px 0 !important;
  background: #f4f4f5 !important;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  text-align: center;
}

.url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block !important;
  padding: 0 7px !important;
  color: #2196f3;
  font-size: 13px !important;
  height: 42px !important;
  line-height: 42px !important;
  border: 1px solid #e6e6ea !important;
  border-radius: 9px 0 0 9px !important;
  background: #fff !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  text-align: left !important;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
