.div {
  cursor: pointer;
}

.btn {
  float: right !important;
  min-width: 51px !important;
  margin-left: -3px !important;
  padding: 0 4px !important;
  color: #767678 !important;
  font-size: 13px !important;
  height: 42px !important;
  line-height: 42px !important;
  border: 1px solid #e6e6ea !important;
  border-radius: 0 9px 9px 0 !important;
  background: #f4f4f5 !important;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  text-align: center;
}

.url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block !important;
  padding: 0 7px !important;
  color: #2196f3;
  font-size: 13px !important;
  height: 42px !important;
  line-height: 42px !important;
  border: 1px solid #e6e6ea !important;
  border-radius: 9px 0 0 9px !important;
  background: #fff !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  text-align: left !important;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}