.container {
  margin: auto;
  max-width: 800px;
}
.wrappers {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: .5px solid silver;
}
.wrappers > a {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 8px 0;
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
}
.wrappers > a:hover {
  text-decoration: underline;
}
.wrappers > a:visited {
  color: #999;
  background-color: #f6f6f6;
}

.thumbnail {
  flex: 0 0 auto;
}
.imageBox {
  width: 100px;
  height: 60px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 5px;
}
.thumbnailImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cartoon {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.titleArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-right: 4px;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.5px;
  word-break: break-word;
}
.info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #999;
  font-size: 0.8em;
}
.writer {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  border-radius: 5px;
  padding: .1em .2em;
  background-color: skyblue;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.writer:hover {
  background-color: rgb(113, 174, 197);
}
.writer > a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.5px;
}