.container {
  margin: auto;
  max-width: 800px;
}
.wrappers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: .5px solid silver;
}
.wrappers > a {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 8px 0;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.wrappers > a:hover {
  text-decoration: underline;
}
.wrappers > a:visited {
  color: #999;
}

.thumbnail {
  flex: 0 0 auto;
}
.imageBox {
  width: 100px;
  height: 60px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 5px;
}
.thumbnailImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cartoon {
  flex: 1;
  margin-left: 16px;
}
.title {
  font-weight: bold;
}
.info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}