.container {
  margin: auto;
  max-width: 800px;
}

.nicknameWrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 5px;
  margin: 5px 0;
}

.nickname {
  color: skyblue;
}

.infoWrapper {
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
}

.infoWrapper > div {
  padding: 5px;
}

.dates {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.infos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cartoon {
  flex: 1;
}
.title {
  font-weight: bold;
}
.info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}