@import "~bootstrap/dist/css/bootstrap.min.css";

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
  margin: 0;
  padding: 0;
}

dl, ul, ol, menu, li {
  list-style: none;
}

hr {
  margin-bottom: 0;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
.main {
  padding: 100px 0 50px 0;
}

.highlight-text {
  background-color: yellow;
}

